<!DOCTYPE html>
<html lang="en">
{% include 'includes/header.twig' %}
<body>
<div class="container-center">
	<div class="quote">Work your ass off.</div>
	<p class="name" data-item='Nexocris'><h1><%= name %></h1></p>

	<section>
		<div class="quote">
			<em>"Being crazy isn't enough."</em>
		</div>
		<nav class="navbar">
			<ul class="navbar__items">
				<li class="navbar__item">
					<a href='#' class="navbar__item-anchor" data-item='Game'>Game</a>
				</li>
				<li class="navbar__item">
					<a href='#' class="navbar__item-anchor" data-item='About'>About</a>
				</li>
				<li class="navbar__item">
					<a href='#' class="navbar__item-anchor" data-item='Projects'>Projects</a>
				</li>
				<li class="navbar__item">
					<a href='#' class="navbar__item-anchor" data-item='Blog'>Blog</a>
				</li>
				<li class="navbar__item">
					<a href='#' class="navbar__item-anchor" data-item='PHP && JS'>PHP && JS</a>
				</li>
			</ul>
		</nav>
	</section>

	{% include 'includes/footer.twig' %}
</div>
</body>
</html>
